@charset "ISO-8859-1";
.select{
	display: flex;
	flex-direction: column;
	margin:10px;
}

.select label{
	margin-top: 5%;
	font-weight: 30px;
	font-family: sans-serif;
	font-style: curs;
}

.select select{
	align-self: center;
}